.friend-request-container {
  outline: 2px solid black;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.friend-request-list {
  font-size: 19px;
  text-align: center;
}

.friend-request {
  text-decoration: underline;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.btn-success {
  margin: 11px;
}

.btn-danger {
  margin: 11px;
}
